:root {
  --result-color: #929292;
  --operator-color: #e99048;
  --digit-color: #dfdfdf;
}

button {
  border: none;
}

.App {
  height: 100vh;
  padding: 0 5%;
}

.result {
  grid-area: 1 / 1 / 1 / span 4;
  background-color: var(--result-color);
  justify-content: flex-end;
  font-size: 2rem;
  display: flex;
  padding: 5px 10px 5px 0;
  color: white;
  align-items: center;
}

.util,
.digit,
.operator {
  justify-self: center;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.util,
.digit {
  background-color: var(--digit-color);
}

.operator {
  background-color: var(--operator-color);
}

#util-0 {
  grid-area: 2 / 1 / span 1 / span 1;
}

#util-1 {
  grid-area: 2 / 2 / span 1 / span 1;
}

#util-2 {
  grid-area: 2 / 3 / span 1 / span 1;
}

#operator-0 {
  grid-area: 2 / 4 / span 1 / span 1;
}

#operator-1 {
  grid-area: 3 / 4 / span 1 / span 1;
}

#operator-2 {
  grid-area: 4 / 4 / span 1 / span 1;
}

#operator-3 {
  grid-area: 5 / 4 / span 1 / span 1;
}

#operator-4 {
  grid-area: 6 / 4 / span 1 / span 1;
}

#digit-0 {
  grid-area: 3 / 1 / span 1 / span 1;
}

#digit-1 {
  grid-area: 3 / 2 / span 1 / span 1;
}

#digit-2 {
  grid-area: 3 / 3 / span 1 / span 1;
}

#digit-3 {
  grid-area: 4 / 1 / span 1 / span 1;
}

#digit-4 {
  grid-area: 4 / 2 / span 1 / span 1;
}

#digit-5 {
  grid-area: 4 / 3 / span 1 / span 1;
}

#digit-6 {
  grid-area: 5 / 1 / span 1 / span 1;
}

#digit-7 {
  grid-area: 5 / 2 / span 1 / span 1;
}

#digit-8 {
  grid-area: 5 / 3 / span 1 / span 1;
}

#digit-9 {
  grid-area: 6 / 1 / span 1 / span 2;
}

#digit-10 {
  grid-area: 6 / 3 / span 1 / span 1;
}

.grid {
  width: 30vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  background-color: #c9c9c9;
}


/* START Home */

.Home {
  padding-top: 10%;
}

/* END Home */

/* START Navigation bar */

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin: 0 5px;
}

.mm-logo {
  width: 80px;
}

/* END Navigation bar */

/* START calculator page */

.calculator-page-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

/* END calculator page */

/* START Quote page */

.quote {
  font-size: 1.5em;
  margin-top: 10%;
}

/* END Quote page */
